In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data/data.sqlite3")
df = pd.read_sql("SELECT * FROM clinical_metadata LIMIT 5", conn)
print(df)

DatabaseError: Execution failed on sql 'SELECT * FROM clinical_metadata LIMIT 5': no such table: clinical_metadata

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data.sqlite3")

# Example: Load some rows from expression_median
df_db = pd.read_sql_query(
    "SELECT * FROM expression_median WHERE gene='BRCA1' LIMIT 10", conn
)
print(df_db)

# Do the same from CSV (for comparison)
df_csv = pd.read_csv("data/expression_median_tidy.csv")
print(df_csv[df_csv["gene"] == "BRCA1"].head(10))

conn.close()

  sample_id   gene     value
0        F1  BRCA1 -1.932854
1        F2  BRCA1  0.549900
2        F3  BRCA1  0.893118
3        F4  BRCA1 -0.061457
4        F5  BRCA1 -0.875909
5        F6  BRCA1 -1.527354
6        F7  BRCA1 -0.855815
7        F8  BRCA1 -0.554483
8        F9  BRCA1 -1.039933
9       F10  BRCA1 -0.825750
         sample_id   gene     value
14324618        F1  BRCA1 -1.932854
14324619        F2  BRCA1  0.549900
14324620        F3  BRCA1  0.893118
14324621        F4  BRCA1 -0.061457
14324622        F5  BRCA1 -0.875909
14324623        F6  BRCA1 -1.527354
14324624        F7  BRCA1 -0.855815
14324625        F8  BRCA1 -0.554483
14324626        F9  BRCA1 -1.039933
14324627       F10  BRCA1 -0.825750

In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data.sqlite3")

# Query for BRCA1 from expression_zscored
df_db = pd.read_sql_query(
    "SELECT * FROM expression_zscored WHERE gene='BRCA1' ORDER BY sample_id LIMIT 10", conn
)

# From CSV
df_csv = pd.read_csv("data/expression_zscored_tidy.csv")
df_csv_filtered = df_csv[df_csv["gene"] == "BRCA1"].sort_values("sample_id").head(10)

# Compare
print(df_db)
print(df_csv_filtered)

conn.close()

  sample_id   gene     value
0        F1  BRCA1 -2.713978
1       F10  BRCA1 -1.183661
2      F100  BRCA1  0.584481
3     F1000  BRCA1 -0.853604
4     F1001  BRCA1  0.089910
5     F1002  BRCA1 -0.533657
6     F1003  BRCA1  0.238754
7     F1004  BRCA1  0.090329
8     F1005  BRCA1 -1.210771
9     F1006  BRCA1 -0.381266
         sample_id   gene     value
14328027        F1  BRCA1 -2.713978
14328036       F10  BRCA1 -1.183661
14328126      F100  BRCA1  0.584481
14329026     F1000  BRCA1 -0.853604
14329027     F1001  BRCA1  0.089910
14329028     F1002  BRCA1 -0.533657
14329029     F1003  BRCA1  0.238754
14329030     F1004  BRCA1  0.090329
14329031     F1005  BRCA1 -1.210771
14329032     F1006  BRCA1 -0.381266

In [14]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("data.sqlite3")

# First 10 rows from DB
df_db = pd.read_sql_query("SELECT * FROM clinical_metadata LIMIT 10", conn)

# From CSV
df_csv = pd.read_csv("data/GSE96058_clinical_metadata_cleaned.csv")
df_csv_head = df_csv.head(10)

print(df_db)
print(df_csv_head)

conn.close()

  sample_id  age at diagnosis  tumor size  lymph node group  \
0        F1                43         9.0               0.0
1        F2                48        14.0               2.0
2        F3                69        27.0               3.0
3        F4                39        51.0               2.0
4        F5                73        60.0               3.0
5        F6                40        13.0               0.0
6        F7                58        18.0               0.0
7        F8                56        24.0               2.0
8        F9                82        10.0               0.0
9       F10                67         6.0               0.0

   lymph node status  er status  pgr status  her2 status ki67 status  nhg  \
0                0.0        NaN         NaN          0.0        None  3.0
1                1.0        1.0         1.0          0.0        None  2.0
2                1.0        1.0         1.0          0.0        None  3.0
3                1.0        1.0         NaN          1.0        None  3.0
4                1.0        1.0         NaN          0.0        None  2.0
5                0.0        NaN         NaN          0.0        None  3.0
6                0.0        1.0         NaN          0.0        None  2.0
7                1.0        1.0         1.0          0.0        None  2.0
8                0.0        1.0         NaN          1.0        None  1.0
9                0.0        1.0         NaN          1.0        None  3.0

   ...  chemo treated  last_update_date__Mar 12 2018  \
0  ...            1.0                              0
1  ...            1.0                              0
2  ...            1.0                              0
3  ...            1.0                              0
4  ...            0.0                              0
5  ...            1.0                              0
6  ...            0.0                              0
7  ...            1.0                              1
8  ...            0.0                              0
9  ...            1.0                              0

   last_update_date__May 04 2022  instrument model__HiSeq 2000  \
0                              1                             1
1                              1                             1
2                              1                             1
3                              1                             1
4                              1                             1
5                              1                             1
6                              1                             0
7                              0                             0
8                              1                             1
9                              1                             1

   instrument model__NextSeq 500  pam50 subtype__Basal  pam50 subtype__Her2  \
0                              0                     1                    0
1                              0                     0                    0
2                              0                     0                    0
3                              0                     0                    0
4                              0                     0                    0
5                              0                     1                    0
6                              1                     0                    0
7                              1                     0                    0
8                              0                     0                    1
9                              0                     0                    0

   pam50 subtype__LumA  pam50 subtype__LumB  pam50 subtype__Normal
0                    0                    0                      0
1                    1                    0                      0
2                    0                    1                      0
3                    1                    0                      0
4                    0                    0                      1
5                    0                    0                      0
6                    0                    0                      1
7                    0                    0                      1
8                    0                    0                      0
9                    1                    0                      0

[10 rows x 32 columns]
  sample_id  age at diagnosis  tumor size  lymph node group  \
0        F1                43         9.0               0.0
1        F2                48        14.0               2.0
2        F3                69        27.0               3.0
3        F4                39        51.0               2.0
4        F5                73        60.0               3.0
5        F6                40        13.0               0.0
6        F7                58        18.0               0.0
7        F8                56        24.0               2.0
8        F9                82        10.0               0.0
9       F10                67         6.0               0.0

   lymph node status  er status  pgr status  her2 status  ki67 status  nhg  \
0                0.0        NaN         NaN          0.0          NaN  3.0
1                1.0        1.0         1.0          0.0          NaN  2.0
2                1.0        1.0         1.0          0.0          NaN  3.0
3                1.0        1.0         NaN          1.0          NaN  3.0
4                1.0        1.0         NaN          0.0          NaN  2.0
5                0.0        NaN         NaN          0.0          NaN  3.0
6                0.0        1.0         NaN          0.0          NaN  2.0
7                1.0        1.0         1.0          0.0          NaN  2.0
8                0.0        1.0         NaN          1.0          NaN  1.0
9                0.0        1.0         NaN          1.0          NaN  3.0

   ...  chemo treated  last_update_date__Mar 12 2018  \
0  ...            1.0                              0
1  ...            1.0                              0
2  ...            1.0                              0
3  ...            1.0                              0
4  ...            0.0                              0
5  ...            1.0                              0
6  ...            0.0                              0
7  ...            1.0                              1
8  ...            0.0                              0
9  ...            1.0                              0

   last_update_date__May 04 2022  instrument model__HiSeq 2000  \
0                              1                             1
1                              1                             1
2                              1                             1
3                              1                             1
4                              1                             1
5                              1                             1
6                              1                             0
7                              0                             0
8                              1                             1
9                              1                             1

   instrument model__NextSeq 500  pam50 subtype__Basal  pam50 subtype__Her2  \
0                              0                     1                    0
1                              0                     0                    0
2                              0                     0                    0
3                              0                     0                    0
4                              0                     0                    0
5                              0                     1                    0
6                              1                     0                    0
7                              1                     0                    0
8                              0                     0                    1
9                              0                     0                    0

   pam50 subtype__LumA  pam50 subtype__LumB  pam50 subtype__Normal
0                    0                    0                      0
1                    1                    0                      0
2                    0                    1                      0
3                    1                    0                      0
4                    0                    0                      1
5                    0                    0                      0
6                    0                    0                      1
7                    0                    0                      1
8                    0                    0                      0
9                    1                    0                      0

[10 rows x 32 columns]

In [11]:
import pandas as pd

df = pd.read_csv("data/GSE96058_clinical_metadata_cleaned.csv")
print(df.columns)

Index(['title', 'age at diagnosis', 'tumor size', 'lymph node group',
       'lymph node status', 'er status', 'pgr status', 'her2 status',
       'ki67 status', 'nhg', 'er prediction mgc', 'pgr prediction mgc',
       'her2 prediction mgc', 'ki67 prediction mgc', 'nhg prediction mgc',
       'er prediction sgc', 'pgr prediction sgc', 'her2 prediction sgc',
       'ki67 prediction sgc', 'overall survival days',
       'overall survival event', 'endocrine treated', 'chemo treated',
       'last_update_date__Mar 12 2018', 'last_update_date__May 04 2022',
       'instrument model__HiSeq 2000', 'instrument model__NextSeq 500',
       'pam50 subtype__Basal', 'pam50 subtype__Her2', 'pam50 subtype__LumA',
       'pam50 subtype__LumB', 'pam50 subtype__Normal'],
      dtype='object')